### CMake template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Project exclude paths
/cmake-build-debug/